PORT=3000
NODE_ENV=development
SERVER_URL=http://localhost:3000
APP_NAME=RSSB EMPLOYER CONTRIBUTION MANAGEMENT SERVER

SWAGGER_API_VERSION=1.0
SWAGGER_API_TITLE=RSSB Employer Contribution Management Server API
SWAGGER_API_DESCRIPTION=This API provides endpoints for managing employer contribution declarations, employee salary records, and contribution calculations. It enables employers to create, submit, validate, and track monthly contribution declarations.
