# compiled output
/dist
/build
/node_modules
package-lock.json

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# Tests
/coverage
/.nyc_output

# IDEs and editors
.c9/
/.idea
.project
*.launch
.settings/
.classpath
*.sublime-workspace

# IDE - VSCode
.vscode
.vscode/*
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/extensions.json

# dotenv environment variable files
.env
.env.local
.env.test.local
.env.production.local
.env.development.local

# temp directory
.tmp
.temp

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
